<div class="container-whatsapp text-center" *ngIf="name">
    <button class="btn button-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=573112944614&text=Hola mi nombre es {{ name }} y requiero de tu ayuda, por favor." class="float" target="_blank">
            <img src="../../../assets/photos/whatsapp.svg" alt="whatsaap">
        </a>
    </button>
</div>