<app-header></app-header>
<div class="wrapper fadeInDown mt-5">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="../../../assets/photos/veterinaria_logo.png" id="icon" alt="foto">
      </div>
      <form #frmLogin="ngForm" (submit)="onLogin()">
        <div class="box-input">
          <input type="email" maxlength="50" class="fadeIn second" name="email" placeholder="Correo" #email="ngModel" [(ngModel)]="user.email" required autofocus>
          <li class="material-icons">email</li>
        </div>
        <div class="danger">
          <small *ngIf="!email.valid && email.touched"><b>Email invalido</b></small>
        </div>
        <div class="box-input">
          <input type="password" maxlength="50" class="fadeIn third" name="password" id="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password" required>
          <img src="../../../assets/photos/padlock.svg" class="padlock" alt="block">
            <li class="material-icons left" *ngIf="user.password" (click)="seePassword($event)">remove_red_eye</li>
        </div>
        <div class="danger">
          <small *ngIf="!password.valid && password.touched"><b>Contraseña invalida</b></small>
        </div>
        <button type="submit" class="fadeIn fourth" [disabled]="frmLogin.invalid"><b>Entrar</b></button>
        <br>
        <button type="button" class="btn btn-info p-1 mb-1" (click)="information()">
          <li class="material-icons">info</li>
        </button>
      </form>
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="[ '../index' ]">Volver al inicio</a>&nbsp;&nbsp;
        <a class="underlineHover" [routerLink]="[ '../register' ]">Registrarse</a>
        <!-- <br> -->
        <!-- <a class="underlineHover" [routerLink]="[ '../#' ]">Olvide la contraseña</a> -->
      </div>
    </div>
  </div>