<app-header></app-header>
<div class="container index">
    <app-chat></app-chat>
    <h2 class="grupo__titulo text-center mb-2">SERVICIOS</h2>
    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden />
        <input type="radio" id="2" name="image-slide" hidden />
        <input type="radio" id="3" name="image-slide" hidden />
        <div class="slide">
            <div class="item-slide">
                <img src="../../../assets/photos/img1.png" />
            </div>
            <div class="item-slide">
                <img src="../../../assets/photos/img2.png" />
            </div>
            <div class="item-slide">
                <img src="../../../assets/photos/img3.png" />
            </div>
        </div>
        <div class="pagination">
            <label class="pagination-item" for="1">
                <img src="../../../assets/photos/img1.png" />
            </label>
            <label class="pagination-item" for="2">
                <img src="../../../assets/photos/img2.png" />
            </label>
            <label class="pagination-item" for="3">
                <img src="../../../assets/photos/img3.png" />
            </label>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col">
            <div class="columna columna--4">
                <img src="../../../assets/photos/hospitalizacion.png" />
                <h4 class="columna__titulo">Hospitalización</h4>
                <p class="columna__texto">
                    Ofrecemos el mejor servicio para tu mascota.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="columna columna--4">
                <img src="../../../assets/photos/boutique.png" />
                <h4 class="columna__titulo">Boutique</h4>
                <p class="columna__texto">
                    La estética y la imagen de tu mascota es esencial.
                </p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="columna columna--4">
                <img src="../../../assets/photos/citas.png" />
                <h4 class="columna__titulo">¡Aparta tu cita!</h4>
                <p class="columna__texto">La mejor asistencia clínica para ti.</p>
            </div>
        </div>
        <div class="col">
            <div class="columna columna--4">
                <img src="../../../assets/photos/blog.png" />
                <h3 class="columna__titulo">Blog</h3>
                <p class="columna__texto">Casos de mascotas.</p>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-3">
        <h2 class="text-center grupo__titulo">NUESTRO PERSONAL</h2>
        <p class="text-center">Contamos con medicos altamente calificados para que tu mascota este bien siempre.<br/>
            Estamos preparados y con buena actitud para cualquier problema de salud que se presente.
        </p>
        <p class="text-center">
            Nunca dudes de nosotros, por que lo hemos dado todo para estar acá.
        </p>
    </div>
    <div class="card-group mb-5 mt-5">
        <div class="card mr-2 rounded shadow">
            <h4 class="text-center mt-2 mb-0 font-weight-bold">Andrés Saray</h4>
            <hr class="w-50 mx-auto m-0 mb-1" />
            <img src="../../../assets/photos/doctor.jpg" class="card-img-top rounded-circle mx-auto d-block w-50 mt-2" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center"><b>Cargo: </b>Veterinaria</h4>
                <h4 class="card-title text-center"><b>Edad: </b>20</h4>
                <p class="text-center font-italic">
                    <i>Me gustan los animales</i>
                </p>
            </div>
        </div>
        <div class="card mr-2 rounded shadow">
            <h4 class="text-center mt-2 mb-0 font-weight-bold">Andrés Saray</h4>
            <hr class="w-50 mx-auto m-0 mb-1" />
            <img src="../../../assets/photos/doctor.jpg" class="card-img-top rounded-circle mx-auto d-block w-50 mt-2" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center"><b>Cargo: </b>Veterinaria</h4>
                <h4 class="card-title text-center"><b>Edad: </b>20</h4>
                <p class="text-center font-italic">
                    <i>Me gustan los animales</i>
                </p>
            </div>
        </div>
        <div class="card rounded shadow">
            <h4 class="text-center mt-2 mb-0 font-weight-bold">Andrés Saray</h4>
            <hr class="w-50 mx-auto m-0 mb-1" />
            <img src="../../../assets/photos/doctor.jpg" class="card-img-top rounded-circle mx-auto d-block w-50 mt-2" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center"><b>Cargo: </b>Veterinaria</h4>
                <h4 class="card-title text-center"><b>Edad: </b>20</h4>
                <p class="text-center font-italic">
                    <i>Me gustan los animales</i>
                </p>
            </div>
        </div>
    </div>
</div>