.nav-link {
    color: black;
}
.index{
  margin-top: 5em;
}
body {
    font-family: "Combo", cursive;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  body * {
    box-sizing: border-box;
  }
  .Cabecera {
    background: #00547e;
    width: 100%;
    height: 170px;
    position: fixed;
    z-index: 500;
  }
  .Cabecera-int {
    width: 80%;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .Cabecera-izq {
    position: relative;
    text-align: center;
    width: 20%;
    padding-top: 23px;
  }
  .Cabecera-izq a img {
    width: 150px;
    padding: 10px;
    padding-top: 1px;
  }
  .Cabecera-dr {
    width: 80%;
  }
  .Cabecera-dr-superior,
  .Cabecera-dr-inferior {
    width: 100%;
  }
  .Drop-menu {
    display: none;
  }
  .Drop-menu a img {
    width: 80px;
    padding: 10px;
    filter: brightness(7);
  }
  .Menu ul {
    padding: 0;
  }
  
  .Menu li {
    list-style: none;
    display: inline-block;
  }
  .Cabecera-dr-inferior {
    text-align: right;
  }
  .Menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-family: "Arial";
    text-transform: uppercase;
    padding: 14px 5px;
    transition: 0.3s;
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
  }
  .Menu ul li a:hover {
    color: #017fab;
    transition: 0.3s;
  }
  .Cabecera-dr-superior {
    text-align: right;
    padding: 10px 5px;
  }
  .Cabecera-dr-superior p a {
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
  }
  .Cabecera-dr-superior p a:hover {
    color: #017fab;
  }
  .Contenedor-uno {
    padding-top: 223px;
    width: 100%;
  }
  .Contenedor-dos {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  .Contenedor-nociticias-uno {
    width: 60%;
    height: auto;
  }
  
  .Contenedor-nociticias-dos {
    width: 30%;
    height: auto;
  }
  .Contenedor-tres {
    padding-top: 34px;
    width: 100%;
  }
  
  .Contenedor-nociticias-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  
  img {
    max-width: 100%;
  }
  .container-all {
    position: relative;
    max-width: 1000px;
    /* margin: 1% 0 2% 5%; */
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 800ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  
  .pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 500ms;
  }
  
  .pagination-item:hover {
    transform: scale(2);
  }
  
  .pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 500ms;
  }
  
  .pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
  }
  
  input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
  }
  
  input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
    background: #fff;
  }
  
  input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  
  input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
    background: #fff;
  }
  
  input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
  
  input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
    background: #fff;
  }
  
  @keyframes autoplay {
    33% {
      transform: translate3d(calc(-100% * 0), 0, 0);
    }
  
    66% {
      transform: translate3d(calc(-100% * 1), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-100% * 2), 0, 0);
    }
  }
  main {
    margin-bottom: 2em;
  }

  .main {
    text-align: center;
  }
  .main [class*="icon-"] {
    color: crimson;
  }
  
  
  .grupo__titulo {
    text-transform: uppercase;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
  }
  
  .grupo__descripcion {
    width: 100%;
    margin: 0;
    margin-top: -10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .columna:hover {
    -webkit-box-shadow: 0 0px 15px 0.1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0px 15px 0.1px rgba(0, 0, 0, 0.7);
    -webkit-transform: scale(1.003);
    -ms-transform: scale(1.003);
    transform: scale(1.003);
  }
  .columna__titulo {
    margin-top: 0px;
    color: #000;
  }
  
  
  @media screen and (max-width: 360px) {
    .container-all{
      width: 70%;
      margin-left: 13%;
      margin-bottom: 2%;
    }
  }
  @media screen and (min-width: 361px) and (max-width: 480px)  {
    .grupo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .container-all{
      width: 70%;
      margin-left: 14%;
    }
  }
  
  @media screen and (max-width: 768px) and(min-width: 481px) {
    .columna {
      width: 45%;
      margin: 15px 0;
    }
    .container-all{
      width: 70%;
    }
    .columna--4 {
      width: 49%;
      max-width: 47%;
    }
    .container-all{
      width: 80%;
      margin-left: 14%;
    }
  }
  
  @media screen and (max-width: 1023px) and(min-width: 769px) {
    .container-all{
      width: 80%;
      margin-left: 14%;
    }
    .grupo__titulo {
      margin-bottom: 30px;
      font-size: 1.9em;
    }
    .columna {
      max-width: 350px;
    }
    .Drop-menu {
      display: none;
    }
    .grupo {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .container-all{
      width: 80%;
      margin-left: 9%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grupo__titulo {
      margin-bottom: 30px;
      font-size: 1.9em;
    }
    .columna {
      max-width: 350px;
    }
    .Drop-menu {
      display: none;
    }
    .grupo {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .container-all{
      width: 80%;
      margin-left: 10%;
    }
    .row{
      margin-left: 10%;
      margin-top: 1%;
    }
  }
  
  