<app-header></app-header>
<div class="container mt-5">
    <div class="mt-5 text-center">
        <div class="mt-5">
            <br/>
            <h1 class="mt-5 mb-2">Lo sentimos, la pagina que estas buscando no existe</h1>
            <hr />
            <img src="../../../assets/photos/notResults.png" alt="">
        </div>
        <div class="mt-2 text-center">
            <button class="btn btn-light mt-2 text-center">
                <a class="navbar-brand" [routerLink]="['../index']">Volver a inicio</a>
                <li class="material-icons home">home</li>
            </button>
        </div>
    </div>
</div>
