<app-header></app-header>
<div class="container text-center mt-5">
    <div class="">
        <br />
        <h1>NOSOTROS</h1>
        <hr />
        <p>
            Nuestra clinica veterinaria Doctor Vacca se constituyo en el año 2000 y nos establecimos en la esperanza 2 etapa.
        </p>
        <p>
            Tanto ha sido nuestro esfuerzo que gracias a las personas que confiaron la salud de sus mascotas y a Dios que nunca nos ha abandonado, hemos podido dar doto de nosotros a cada paciente que ha requerido de nuestra ayuda.
        </p>
    </div>
    <div class="">
        <br />
        <h1>CÓMO HEMOS AVANZADO</h1>
        <hr />
    </div>
    <div class="mt-4">
        <img src="../../../assets/photos/about.png" alt="acerca de nosotros" class="rounded">
        <p class="mt-4">Una empresa para atencion de mascotas, establecida en el año 2000 en Villavicencio, ciudad llanera, capital del Departamento del Meta, en mi hermoso pais Colombia.
        </p>
        <p>
            Fue creciendo poco a poco, dibujando un proyecto que se va alcanzando para que siga mejorando la calidad de vida de nuestros pacientes.
        </p>
    </div>
    <div class="mt-5">
        <h1>DONDE ESTAMOS UBICADOS</h1>
        <hr />
        <div class="mapouter">
            <div class="gmap_canvas shadow">
                <iframe width="600" height="500" id="gmap_canvas" 
                    src="https://maps.google.com/maps?q=colombia%2C%20meta%2C%20villavicencio%2C%20Cl.%209%20%2340-2&t=&z=19&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
       <h1>MISIÓN Y VISIÓN</h1>
       <hr />
    </div>
</div>
