<app-header></app-header>
<div class="container blog mb-5">
    <app-chat></app-chat>
    <div class="shadow pb-2">
        <div class="row ml-0 mr-0 mt-2">
            <div class="col-sm text-center border border-warning rounded p-0 ml-2">
                <div class="card-header bg-warning  w-100">
                    <h3>American Pitbull Terrier</h3>
                </div>
                <div class="card-image p-3">
                    <img src="../../../assets/photos/1.png" alt="aaa" class="w-100">
                </div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos, eum ad accusantium
                        adipisci voluptatum qui ipsam fugiat enim quasi, molestias, hic vero sunt fugit dolor
                        perferendis mollitia quaerat? Aperiam?
                    </p>
                </div>
            </div>
            <div class="col-sm text-center border border-success rounded p-0 ml-2">
                <div class="card-header bg-success w-100">
                    <h3>Lenguaje de tu perro</h3>
                </div>
                <div class="card-image p-3">
                    <img src="../../../assets/photos/2.png" alt="aaa" class="w-100">
                </div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos, eum ad accusantium
                        adipisci voluptatum qui ipsam fugiat enim quasi, molestias, hic vero sunt fugit dolor
                        perferendis mollitia quaerat? Aperiam?
                    </p>
                </div>
            </div>
            <div class="col-sm text-center border border-danger rounded p-0 ml-2">
                <div class="card-header bg-danger w-100">
                    <h3>Bullterrier</h3>
                </div>
                <div class="card-image p-3">
                    <img src="../../../assets/photos/3.png" alt="aaa" class="w-100">
                </div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos, eum ad accusantium
                        adipisci voluptatum qui ipsam fugiat enim quasi, molestias, hic vero sunt fugit dolor
                        perferendis mollitia quaerat? Aperiam?
                    </p>
                </div>
            </div>
        </div>
        <div class="row ml-0 mr-0 mt-2">
            <div class="col-sm text-center border border-info rounded p-0 ml-2">
                <div class="card-header bg-info w-100">
                    <h3>Consejos para tu perro</h3>
                </div>
                <div class="card-image p-3">
                    <img src="../../../assets/photos/4.png" alt="aaa" class="w-100">
                </div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos, eum ad accusantium
                        adipisci voluptatum qui ipsam fugiat enim quasi, molestias, hic vero sunt fugit dolor
                        perferendis mollitia quaerat? Aperiam?
                    </p>
                </div>
            </div>
            <div class="col-sm text-center border border-dark rounded p-0 ml-2">
                <div class="card-header bg-dark text-white w-100">
                    <h3>Labrador Retriever</h3>
                </div>
                <div class="card-image p-3">
                    <img src="../../../assets/photos/5.png" alt="aaa" class="w-100">
                </div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos, eum ad accusantium
                        adipisci voluptatum qui ipsam fugiat enim quasi, molestias, hic vero sunt fugit dolor
                        perferendis mollitia quaerat? Aperiam?
                    </p>
                </div>
            </div>
            <div class="col-sm text-center border border-secondary rounded p-0 ml-2">
                <div class="card-header w-100">
                    <h3>Britis Short Hair</h3>
                </div>
                <div class="card-image p-3">
                    <img src="../../../assets/photos/6.png" alt="aaa" class="w-100">
                </div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos, eum ad accusantium
                        adipisci voluptatum qui ipsam fugiat enim quasi, molestias, hic vero sunt fugit dolor
                        perferendis mollitia quaerat? Aperiam?
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-2 ml-2 w-50" *ngIf="this.id">
            <form #formCreateComment="ngForm" (submit)="OnCreateComent()">
                <p class="clasificacion  d-flex">
                    <input id="radio1" type="radio" required name="calification" #calification="ngModel"
                        [(ngModel)]="comment.calification" value="5">
                    <label for="radio1" class="stair">★</label>
                    <input id="radio2" type="radio" required name="calification" #calification="ngModel"
                        [(ngModel)]="comment.calification" value="4">
                    <label for="radio2" class="stair">★</label>
                    <input id="radio3" type="radio" required name="calification" #calification="ngModel"
                        [(ngModel)]="comment.calification" value="3">
                    <label for="radio3" class="stair">★</label>
                    <input id="radio4" type="radio" required name="calification" #calification="ngModel"
                        [(ngModel)]="comment.calification" value="2">
                    <label for="radio4" class="stair">★</label>
                    <input id="radio5" type="radio" required name="calification" #calification="ngModel"
                        [(ngModel)]="comment.calification" value="1">
                    <label for="radio5" class="stair">★</label>
                </p>
                <textarea maxlength="250" name="description" #description="ngModel" [(ngModel)]="comment.description"
                    placeholder="Escribe tu experiencia" class="form-control" required cols="30" rows="3"></textarea>
                <button class="btn btn-success mt-1" [disabled]="formCreateComment.invalid">
                    Comentar <li class="material-icons ml-1">comment</li>
                </button>
            </form>
            <br>
        </div>
        <ng-container *ngIf="loading">
            <div class="d-flex justify-content-center text-warning mb-2">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="comments; else notComments">
            <div class="mb-5 mt-3">
                <ng-container *ngFor="let coments of comments|orderBy: '-time';let i = index">
                    <div class="card text-center mb-2 comentary">
                        <div class="card-header p-1">
                            <div class="row">
                                <div class="col">
                                    <p class="text-left m-0 pl-1"><b>{{ coments.name }}</b></p>
                                </div>
                                <div class="col">
                                    <small class="text-right">{{ handleMultiply(coments.calification) }}</small>
                                </div>
                                <div class="col text-right" *ngIf="profile === 1">
                                    <button class="btn btn-info delete-coment mr-2" (click)="preventEdit()" data-toggle="collapse" [attr.data-target]="'#myComent'+i" aria-expanded="false" aria-controls="multiCollapseExample'+i'">
                                        <li class="material-icons">
                                            question_answer
                                        </li>
                                    </button>
                                    <button (click)="deleteComment(coments._id, coments.name)"
                                        class="btn btn-danger delete-coment">
                                        <li class="material-icons">
                                            delete
                                        </li>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-1">
                            <p class="card-text text-left pl-2">
                                {{ coments.description }}
                            </p>
                        </div>
                        <ng-container *ngIf="profile === 1;">
                            <div class="col mb-2">
                                <div class="collapse multi-collapse" id="myComent{{i}}">
                                  <div class="card card-body">
                                    <textarea class="form-control" placeholder="{{ coments.messageResponse }}" name="messageResponse" #messageResponse="ngModel" [(ngModel)]="updateCo.messageResponse" rows="3">
                                        
                                    </textarea>
                                  </div>
                                  <div class="text-right">
                                    <button class="btn btn-success delete-coment p-1" (click)="updateComment(coments._id)">
                                        Responder
                                        <li class="material-icons">
                                            send
                                        </li>
                                    </button>
                                  </div>
                                </div>
                              </div>
                        </ng-container>
                        <div class="" *ngIf="coments.veterinary && !isEdit">
                            <p class="card-text text-left pl-4">
                                <b>DR. {{  coments.veterinary }}: </b>
                                {{ coments.messageResponse }}
                            </p>
                        </div>
                        
                        <div class="card-footer text-muted p-0">
                            <i>{{ coments.time|date:"MMM d, y" | uppercase }}</i>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #notComments>

        </ng-template>
    </div>
    <br>
</div>