.blog{
  margin-top: 5em;
}
.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
  /* margin-right: 45px; */
}
textarea {
  resize: none;
}
input[type="radio"] {
  display: none;
}

label {
  color: grey;
  width: 7px;
  margin-left: 5px;
}
label:hover {
  cursor: pointer;
}
h3 {
  font-weight: bold;
}
.comentary{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.delete-coment{
  padding: 1px;
}
.material-icons{
  font-size: 20px;
  vertical-align: middle;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
.stair {
  font-size: 18px;
  margin-right: 1px;
}
