<app-header></app-header>
<div class="wrapper fadeInDown mt-5">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="../../../assets/photos/veterinaria_logo.png" id="icon">
      </div>
      <form #frmRegister="ngForm" (submit)="onRegister()">
        <div class="box-input">
          <input type="text"    name="id"        maxlength="20"   class="fadeIn second" placeholder="Cedula"   pattern="^[0-9]{5,10}$"   #id="ngModel" [(ngModel)]="user.id" required autofocus>
          <li class="material-icons">person_pin</li>
        </div>
        <div class="danger">
          <small *ngIf="!id.valid && id.touched"><b>Cedula invalida</b></small>
        </div>
        <div class="box-input">
          <input type="text"      name="name"      maxlength="45"   class="fadeIn third"  placeholder="Nombre"    pattern="^[a-zA-Z]*$"  #name="ngModel" [(ngModel)]="user.name" required>
          <li class="material-icons">person</li>
        </div>
        <div class="danger">
          <small *ngIf="!name.valid && name.touched"><b>Nombre invalido</b></small>
        </div>
        <div class="box-input">
          <input type="text"      name="lastname"  maxlength="45"   class="fadeIn four"   placeholder="Apellido"  pattern="^[a-zA-Z]*$"  #lastname="ngModel" [(ngModel)]="user.lastname" required>
          <li class="material-icons">person</li>
        </div>
        <div class="danger">
          <small *ngIf="!lastname.valid && lastname.touched"><b>Apellido invalido</b></small>
        </div>
        <div class="box-input">
          <input type="text"    name="phone"     maxlength="10"   class="fadeIn five"   placeholder="Celular"  pattern="^[0-9]{10}$" minlength="10" maxlength="10"  #phone="ngModel" [(ngModel)]="user.phone" required>
          <li class="material-icons">phone</li>
        </div>
        <div class="danger">
          <small *ngIf="!phone.valid && phone.touched"><b>Celular invalido</b></small>
        </div>
        <div class="box-input">
          <input type="email"     name="email"     maxlength="50"   class="fadeIn six"    placeholder="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"     #email="ngModel" [(ngModel)]="user.email" required>
          <li class="material-icons">email</li>
        </div>
        <div class="danger">
          <small *ngIf="!email.valid && email.touched"><b>Correo invalidado</b></small>
        </div>
        <div class="box-input">
          <input type="password"  name="password" id="password"  maxlength="50"  class="fadeIn seven"  placeholder="Contraseña"  #password="ngModel" minlength="4" [(ngModel)]="user.password" required>
          <img src="../../../assets/photos/padlock.svg" class="padlock" alt="block">
            <li class="material-icons left" *ngIf="user.password" (click)="seePassword($event)">remove_red_eye</li>
        </div>
        <div class="danger">
          <small *ngIf="!password.valid && password.touched"><b>Contraseña invalida</b></small>
        </div>
        <button type="submit" class="fadeIn fourth" [disabled]="frmRegister.invalid"><b>Registrarme</b></button>
      </form>
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="[ '../index' ]">Volver al inicio</a> &nbsp;&nbsp;
        <a class="underlineHover" [routerLink]="[ '../login' ]">Iniciar Sesion</a>
      </div>
    </div>
  </div>
  