.contact-form{
    background: #fff;
    margin-bottom: 5%;
    width: 80%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 250px;
}
.contact-form form{
    padding: 1%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}



button{
    margin-right: 2px;
    display: inline-flex;
}
.grid{
    display: grid;
}
.box-date{
    display: grid;
}
.card-text{
    width: 220px;
    height: 212px;
    border-radius: 5px;
}
.formulary{
    width: 50%;
}
.title{
    border-bottom: 2px solid #007BFE;
}
select{
    cursor: pointer;
}
.mat-form-field{
    width: 100%;
}
.mat-datepicker-toggle-default-icon .ng-star-inserted{
    width: 2em !important;
}
#selector, #imagePet{
    font-size: 12px;
    padding: 8px 25px;
    border-radius: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}
#selector:hover, #imagePet:hover{
    transform: scale(1.04);
    cursor: pointer;
}
#selector.active, #imagePet.active{
    background-color: #ffffff;
    color: #242424;

}
#selector span, #imagePet span{
    font-weight: normal;
}

@media screen and (max-width: 360px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
  @media screen and (min-width: 361px) and (max-width: 480px)  {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
  
  @media screen and (max-width: 768px) and(min-width: 481px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
  
  @media screen and (max-width: 1023px) and(min-width: 769px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
  
  @media screen and (min-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        justify-items: center;
    }
}
  