<app-header></app-header>
<div class="container">
  <app-chat></app-chat>
  <ng-container *ngIf="this.user == false; else admin">
    <!-- Mostar mascota -->
    <h2 class="text-center font-weight-bold title mb-3 mt-2">MIS MASCOTAS</h2>
    <div id="showPet" class="shadow mt-2">
      <div class="d-flex">
        <ng-container *ngIf="petExist; else notPets">
          <div *ngFor="let mascota of pets">
            <div class="card text-center ml-1 mr-1 mb-2">
              <div class="card-header">
                <b>{{ mascota.name }}</b>
              </div>
              <div class="card-body">
                <ng-container *ngIf="mascota.imageUrl; else noImage">
                  <img class="card-text" src="{{ url + '/getImagePet/'+ mascota.imageUrl }}" alt="{{ mascota.name }}"
                    title="{{ mascota.name }}" />
                </ng-container>
                <ng-template #noImage>
                  <img class="card-text" src="../../../assets/photos/petDefault.png" alt="{{ mascota.name }}"
                    title="{{ mascota.name }}">
                </ng-template>
                <br>
                <button class="btn btn-primary mb-1 mt-1" data-toggle="modal" data-target="#staticBackdrop"
                  (click)="petSelected(mascota.name) ">
                  Ver
                  <li class="material-icons ml-1">remove_red_eye</li>
                </button>
                <button class="btn btn-warning mb-1 mt-1" (click)="UpdatePet(mascota.name)">
                  Editar
                  <li class="material-icons">edit</li>
                </button>
                <button class="btn btn-danger" (click)="onDeletePet(mascota.name, mascota.imageUrl)">
                  Eliminar
                  <li class="material-icons">
                    delete
                  </li>
                </button>
              </div>
              <div class="card-footer text-muted">
                <span><i> Veterinaria Dr Vacca</i></span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-template #notPets>
        <div class="w-100">
          <h2 class="mt-2 mb-2">Recuerda que debes crear una mascota para crear una cita</h2>
          <hr />
          <img class="img-fluid rounded" src="../../../assets/photos/petNotFound.png" />
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="petSelecteded">
      <div class="modal fade text-center" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title" id="staticBackdropLabel"><i>INFORMACIÓN DE {{ petSelecteded.name }}</i></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ng-container *ngIf="petSelecteded.imageUrl; else noimage">
                <img class="card-text" src="{{ url + '/getImagePet/' + petSelecteded.imageUrl }}"
                  alt="{{ petSelecteded.name }}" title="{{ petSelecteded.name }}" /><br />
              </ng-container>
              <ng-template #noimage>
                <img class="card-text" src="../../../assets/photos/petDefault.png" alt="{{ petSelecteded.name }}"
                  title="{{ petSelecteded.name }}" /><br />
              </ng-template>
              <div class="mt-1">
                <p><b>Nombre:</b> {{ petSelecteded.name }} <b>Raza:</b> {{ petSelecteded.race }}</p>
                <p><b>Especie:</b> {{ petSelecteded.species }}</p>
                <p><b>Genero:</b> {{ petSelecteded.gender }} <b>Fecha de Nacimiento:</b> {{ petSelecteded.date_born |
                  date: 'dd-MM-yyyy' }}</p>
                <p><b>Vacunas:</b> {{ petSelecteded.vaccines }}</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Fin mostrar mascota -->

    <!-- Crear mascota -->

    <div class="text-center" id="divFormCreatePet" hidden>

      <div class="card-body shadow">
        <h2 class="card-title"><b>Crear mascota</b></h2>
        <hr />
        <div class="container contact-form">
          <div class="contact-image">
            <img id="image"/>
          </div>
          <form #formCreatePets="ngForm" (submit)="onCreatePets()">
            <div class="row">
              <div class="col-md-12">
                <input type="file" class="form-control" name="imageUrl" id="file" hidden (change)="onUploadImage($event)" />
                <label for="file" id="selector" class="bg-secondary">
                  <li class="material-icons text-center">
                    add_a_photo
                  </li>
                </label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Nombre de la mascota" #name="ngModel"
                    [(ngModel)]="pet.name" pattern="[a-zA-Z]*" maxlength="20" required />
                  <div class="alert alert-danger mt-1 p-1" *ngIf="!name.valid && name.touched">
                    <small>¡Nombre no valido!</small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="race">Raza</label>
                  <select class="form-control" name="race" #race="ngModel" id="race" [(ngModel)]="pet.race" required
                    (change)="onChangeRace($event.target.value)">
                    <option value="{{ petList }}" *ngFor="let petList of listRaces">
                      {{ petList }}
                    </option>
                  </select>
                  <div class="alert alert-danger p-1" *ngIf="!race.valid && race.touched">
                    <small>
                      ¡Tienes que elegir una raza!
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="species">Especie</label>
                  <select class="form-control" name="species" id="species" #species="ngModel" [(ngModel)]="pet.species" required>
                    <option value="{{ species }}" *ngFor="let species of raceReturn">
                      {{ species }}</option>
                  </select>
                  <div class="alert alert-danger p-1" *ngIf="!species.valid && species.touched">
                    <small>
                      ¡Tienes que elegir una especie!
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender">Genero</label>
                  <select class="form-control" name="gender" id="gender" #gender="ngModel" [(ngModel)]="pet.gender" required>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                  <div class="alert alert-danger p-1" *ngIf="!gender.valid && gender.touched">
                    <small>¡Tienes que elegír el genero!</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date_born">Fecha nacimiento</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" name="date_born" id="date_born" #date_born="ngModel"
                      class="text-center icon" [(ngModel)]="pet.date_born" [min]="minDate" [max]="dateNow">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <label for="vaccinesO">¿Esta vacuando?</label>
                  <select class="form-control" name="vaccinesO" id="vaccinesO" #vaccinesO="ngModel" [(ngModel)]="pet.vaccinesO" required>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                  <div class="alert alert-danger p-1" *ngIf="!vaccinesO.valid && vaccinesO.touched">
                    <small>¡Debes seleccionar si esta vacunada tu
                      mascota!</small>
                  </div>
                </div>
                <div class="form-group">
                  <ng-container *ngIf="pet.vaccinesO == 'Si'">
                    <div class="form-group">
                      <label for="vaccines">Que vacunas tiene</label>
                      <input type="text" class="form-control" name="vaccines" id="vaccines" placeholder="Vacunas" #vaccines="ngModel"
                        [(ngModel)]="pet.vaccines" required />
                      <div class="alert alert-danger p-1" *ngIf="!vaccines.valid && vaccines.touched">
                        <small>¡Debes ingresar si tiene Vacunas</small>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-secondary" (click)="closeDivs(2)">Cerrar</button>
                  <button type="submit" class="btn btn-primary" [disabled]="formCreatePets.invalid">
                    Crear Mascota <li class="material-icons ml-1">pets</li>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Fin cerrar mascota -->
    <!-- <div class="d-flex flex-column" id="divCreatePet" hidden></div> -->

    <!-- Editar Mascota -->
    <div id="divFormEditPet" hidden>
      <div class="card" *ngIf="petU">
        <div class="card-header">
          <h3 class="card-title text-center mb-0"><b>Editando a {{ petU.name }}</b></h3>
        </div>
        <div class="card-body shadow">
          <form #formEditPet="ngForm" (ngSubmit)="onUpdatePet()">
            <div class="text-center">
              <ng-container *ngIf="petU.imageUrl; else noimage">
                <img class="card-text" src="{{ url + '/getImagePet/' + petU.imageUrl }}" alt="{{ petU.name }}"
                  title="{{ petU.name }}" /><br />
              </ng-container>
              <ng-template #noimage>
                <img class="card-text" src="../../../assets/photos/petDefault.png" alt="{{ petU.name }}"
                  title="{{ petU.name }}" /><br />
              </ng-template>
              <input type="file" name="imageUrlUp" #imageUrlUp="ngModel" [(ngModel)]="petUpdateForm.imageUrlUp"
                id="image" hidden (change)="onUploadImageUpdate($event)" />
              <label for="image" id="imagePet">Seleccionar imagen a cambiar</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">Nombre: {{ petU.name }}</label>
              <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="petUpdateForm.name"
                pattern="[a-zA-Z ñ]*" maxlength="20" required value="{{ petU.name }}">
              <div class="alert alert-danger p-1" *ngIf="!name.valid && name.touched">
                <small>¡Nombre no valido!</small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Raza: {{ petU.race }}</label>
              <select class="form-control" name="race" #race="ngModel" [(ngModel)]="petUpdateForm.race"
                (change)="onChangeRace($event.target.value)">
                <option value="{{ petList }}" *ngFor="let petList of listRaces" [selected]="petU.race == petList">
                  {{ petList }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Especie: {{ petU.species }}</label>
              <ng-container *ngIf="raceReturn; else raceNotSelect">
                <select class="form-control" name="species" #species="ngModel" [(ngModel)]="petUpdateForm.species"
                  required>
                  <option value="{{ species }}" *ngFor="let species of raceReturn">
                    {{ species }}
                  </option>
                </select>
              </ng-container>
              <ng-template #raceNotSelect>
                <select class="form-control" name="species" #species="ngModel" [(ngModel)]="petUpdateForm.species"
                  required>
                  <option value="{{ speciesBefore }}" *ngFor="let speciesBefore of listPetsJson[petU.race]"
                    [selected]="petU.species == speciesBefore">
                    {{ speciesBefore }}
                  </option>
                </select>
              </ng-template>
              <div class="alert alert-danger p-1" *ngIf="!species.valid && species.touched">
                <small>
                  ¡Tienes que elegir una especie!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Genero: {{ petU.gender }}</label>
              <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="petUpdateForm.gender" required>
                <option value="FEMENINO" [selected]="petU.gender">FEMENINO</option>
                <option value="MASCULINO">MASCULINO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fecha de nacimiento: {{ petU.date_born | date:
                'dd-MM-yyyy' }}</label>
              <mat-form-field appearance="fill" class="w-100">
                <input matInput name="date_born" #date_born="ngModel" [(ngModel)]="petUpdateForm.date_born"
                  [ngxMatDatetimePicker]="picker" placeholder="Escoja la fecha" [min]="minDate" [max]="dateNow"
                  [disabled]="false">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="true" [color]="color" [touchUi]="true"
                  [enableMeridian]="true" [disableMinute]="true" [hideTime]="true">
                </ngx-mat-datetime-picker>
              </mat-form-field>
              <div class="alert alert-danger p-1" *ngIf="!date_born.valid && date_born.touched">
                <small>¡La fecha de nacimiento no es valida!</small>
              </div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Esta vacunado: {{ petU.vaccinesO }}</label>
              <select class="form-control" name="vaccinesO" #vaccinesO="ngModel" [(ngModel)]="petUpdateForm.vaccinesO"
                required>
                <option value="SI" [selected]="petU.vaccinesO">SI</option>
                <option value="NO">NO</option>
              </select>
              <div class="alert alert-danger p-1" *ngIf="!vaccinesO.valid && vaccinesO.touched">
                <small>¡Debes seleccionar si esta vacunada tu
                  mascota!</small>
              </div>
            </div>
            <ng-container *ngIf="petU.vaccinesO == 'SI' || petUpdateForm.vaccinesO == 'SI'">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Que vacunas tiene:</label>
                <input type="text" class="form-control" name="vaccines" placeholder="Vacunas" #vaccines="ngModel"
                  [(ngModel)]="petUpdateForm.vaccines" required />
                <div class="alert alert-danger p-1" *ngIf="!vaccines.valid && vaccines.touched">
                  <small>¡Debes ingresar si tiene Vacunas</small>
                </div>
              </div>
            </ng-container>
            <div class="text-center">
              <button type="reset" class="btn btn-secondary" (click)="closeDivs(5)">Cerrar</button>
              <button type="submit" class="btn btn-success" [disabled]="formEditPet.invalid">Confirmar</button>
            </div>
          </form>
          <!-- <form #formEditPets="ngForm" (ngSubmit)="onUpdatePet(formEditPets.value)">
            <div class="text-center">
              <ng-container *ngIf="petU.imageUrl; else noimage">
                <img class="card-text" src="{{ url + '/getImagePet/' + petU.imageUrl }}" alt="{{ petU.name }}"
                  title="{{ petU.name }}" /><br />
              </ng-container>
              <ng-template #noimage>
                <img class="card-text" src="../../../assets/photos/petDefault.png" alt="{{ petU.name }}"
                  title="{{ petU.name }}" /><br />
              </ng-template>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre: {{ petU.name }}</label>
              <input type="text" class="form-control" name="name"
                #name="ngModel" [(ngModel)]="pet.name" pattern="[a-zA-Z]*" maxlength="20"
                value="{{ petU.name }}" required />
              <div class="alert alert-danger p-1" *ngIf="!name.valid && name.touched">
                <small>¡Nombre no valido!</small>
              </div>
            </div>
            <div class="form-group">
              <label for="recipient-race" class="col-form-label">Raza: {{ petU.race | uppercase }}</label>
              <select class="form-control" name="race"  [(ngModel)]="pet.race" required
                (change)="onChangeRaceUpdate($event.target.value)">
                <optgroup>
                  <option value="{{ petList.key }}" *ngFor="let petList of listPets | keyvalue">
                    {{ petList.key | uppercase }}
                  </option>
                </optgroup>
              </select>
              <div class="alert alert-danger p-1" *ngIf="!race.valid && race.touched">
                <small>
                  ¡Tienes que elegir una raza!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Especie: {{ petU.species }}</label>
              <select class="form-control" name="species" #species="ngModel" [(ngModel)]="pet.species" required>
                <option value="{{ races.value.race }}" *ngFor="let races of raceReturn | keyvalue">
                  {{ races.value.race | uppercase }}
                </option>
              </select>
              <div class="alert alert-danger p-1" *ngIf="!species.valid && species.touched">
                <small>
                  ¡Tienes que elegir una especie!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Genero: {{ petU.gender }}</label>
              <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="pet.gender" required>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
              <div class="alert alert-danger p-1" *ngIf="!gender.valid && gender.touched">
                <small>¡Tiene que seleccionar el genero!</small>
              </div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fecha de nacimiento: {{ petU.date_born | date: 'dd-MM-yyyy' }}</label>
              <mat-form-field appearance="fill" class="w-100">
                <input matInput name="date_born" #date_born="ngModel"
                   [(ngModel)]="pet.date_born" [ngxMatDatetimePicker]="picker" placeholder="Escoja la fecha"
                   [min]="minDate" [max]="dateNow" [disabled]="false">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="true"
                  [color]="color" [touchUi]="true" [enableMeridian]="true" 
                   [disableMinute]="true" [hideTime]="true">
                </ngx-mat-datetime-picker>
             </mat-form-field>
              <div class="alert alert-danger p-1" *ngIf="!date_born.valid && date_born.touched">
                <small>¡La fecha de nacimiento no es valida!</small>
              </div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">¿Esta vacunado?</label>
              <select class="form-control" name="vaccinesO" #vaccinesO="ngModel" [(ngModel)]="pet.vaccinesO" required>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
              <div class="alert alert-danger p-1" *ngIf="!vaccinesO.valid && vaccinesO.touched">
                <small>¡Debes seleccionar si esta vacunada tu
                  mascota!</small>
              </div>
            </div>
            <ng-container *ngIf="petU.vaccinesO == 'Si'">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Que vacunas tiene:</label>
                <input type="text" class="form-control" name="vaccines" placeholder="Vacunas" #vaccines="ngModel"
                  [(ngModel)]="pet.vaccines" required />
                <div class="alert alert-danger p-1" *ngIf="!vaccines.valid && vaccines.touched">
                  <small>¡Debes ingresar si tiene Vacunas</small>
                </div>
              </div>
            </ng-container>
            <div class="text-center">
              <button type="button" class="btn btn-secondary" (click)="closeDivs(4)">Cancelar</button>
              <button type="submit" class="btn btn-success" [disabled]="formCreatePets.invalid">
                Editar Mascota
              </button>
            </div>
          </form> -->
        </div>
      </div>
    </div>
    <button class="btn btn-info" (click)="closeDivs(1)" id="buttonShowCreatePet">
      Crear mi mascota <li class="material-icons ml-1">pets</li>
    </button>
    <!-- Final de editar mascota -->
  </ng-container>
  <ng-template #admin>
    <h4>Hola admin</h4>
  </ng-template>
</div>