<app-header></app-header>
<div class="container appointment">
    <app-chat></app-chat>
    <ng-container *ngIf="this.userA == false; else admin">
        <form #formCreateAppointment="ngForm" (submit)="onCreateAppointments()" hidden id="divCreateAppointment">
            <div class="h-100">
                <div class="row justify-content-center h-100 mt-2">
                    <div class="col-sm-8 align-self-center text-center">
                        <div class="card shadow mt-5">
                            <div class="card-body">
                                <h2 class="text-center font-weight-bold title">CITAS</h2>
                                <div class="col text-center align-self-center">
                                    <label class="">Nombre de tu mascota</label>
                                    <select class="form-control w-100 " name="name" #name="ngModel"
                                        [(ngModel)]="appointment.name" required>
                                        <option *ngFor="let mascota of pets" value="{{ mascota.name }}">
                                            {{ mascota.name | uppercase }} </option>
                                    </select>
                                    <div class="w-100 list-group-item-danger">
                                        <small *ngIf="!name.valid && name.touched">
                                            ¡No has seleccionado tu mascota!
                                        </small>
                                    </div>
                                    <br>
                                    <label class="">Tipo de cita</label>
                                    <select class="form-control w-100 " name="typeAppointment" #typeAppointment="ngModel"
                                        [(ngModel)]="appointment.typeAppointment" required>
                                        <ng-container *ngFor="let appointmentType of typesAppointments">
                                            <option value="{{ appointmentType }}">{{ appointmentType }}</option>
                                        </ng-container>
                                    </select>
                                    <div class="w-100 list-group-item-danger">
                                        <small *ngIf="!typeAppointment.valid && typeAppointment.touched">
                                            Tienes que seleccionar el tipo de cita
                                        </small>
                                    </div>
                                    <br>
                                    <label class="">Escoja una fecha para su cita</label>
                                    <br>
                                    <mat-form-field class="w-100 border-0" class="mt-2">
                                        <input matInput name="dateA" #dateA="ngModel"
                                           [(ngModel)]="appointment.dateA" [ngxMatDatetimePicker]="picker" placeholder="Fecha para su cita"
                                           [min]="timeNow" [max]="montMax" [disabled]="false" class="w-100 border-0">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                           [stepHour]="1" [stepMinute]="1" [color]="color" [stepSecond]="false"
                                           [touchUi]="true" [enableMeridian]="false" 
                                           [disableMinute]="false" [hideTime]="false">
                                        </ngx-mat-datetime-picker>
                                     </mat-form-field>
                                    <div class="w-100 list-group-item-danger">
                                        <small *ngIf="dateA.touched && dateA.invalid">
                                            ¡Tienes que elegir una fecha!
                                        </small>
                                    </div>
                                    <br>
                                    <button class="btn btn-secondary mr-1" type="button" (click)="closeDivs(1)">
                                        Cerrar
                                    </button>
                                    <button class="btn btn-success" type="submit"
                                        [disabled]="formCreateAppointment.invalid">
                                        Crear cita <li class="material-icons ml-1">event_note</li>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Mostrar citas sin atender -->
        <div class="card shadow" id="divAppointmentUser">
            <h2 class="text-center font-weight-bold title">CITAS PENDIENTES</h2>
            <table class="table text-center border-bottom">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Tipo de cita</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let appointments of appointmentsUsers">
                        <ng-container *ngIf="appointments.attended == 'NO'">
                            <tr>
                                <td scope="row">{{ appointments.id }}</td>
                                <td>{{ appointments.name }}</td>
                                <td>{{ appointments.dateA | date:"MMM d, y, h:mm: a" | uppercase}}</td>
                                <td>{{ appointments.typeAppointment }}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <div class="text-center mt-2 mb-2">
                <button class="btn btn-primary" (click)="closeDivs(2)" id="buttonShowForm">
                    Crear mi cita <li class="material-icons ml-1">event_note</li>
                </button>
            </div>
        </div>
        <div class="card shadow mt-4 text-center">
            <h2 class="text-center font-weight-bold title">HISTORIAL CLÍNICO</h2>
            <div class="form-group">
            <ng-container *ngFor="let petHistorial of pets">
                <!-- <ng-container *ngIf="appointments.attended"> -->
                    <button class="btn buttonPets mr-1" (click)="download(petHistorial.id, petHistorial.name)">
                        {{ petHistorial.name }}<li class="material-icons ml-1">cloud_download</li>
                    </button>
                <!-- </ng-container> -->
            </ng-container>
            <ng-container *ngIf="loading">
                <div class="d-flex justify-content-center text-primary">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            </ng-container>
            
        </div>
        </div>
        <!-- </div> -->
    </ng-container>
    <ng-template #admin>
        <div class="navbar d-flex justify-content-center">
            <button type="button" class="btn btn-link mr-2" id="buttonAppointment" (click)="closeDivs(3)">Citas</button>
            <button type="button" class="btn btn-link" id="buttonSearchPet" (click)="closeDivs(4)">Buscar
                mascota</button>
        </div>
        <div id="divAppointmentDoctor">
            <div class="card shadow mt-4">
                <h2 class="text-center font-weight-bold title">CITAS</h2>
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Cédula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Siga</th>
                            <th scope="col">No está</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let listAppointments of appointmentsDoctor">
                            <tr>
                                <td>{{ listAppointments.id }}</td>
                                <td>{{ listAppointments.name }}</td>
                                <td>{{ listAppointments.dateA | date:"MMM d, y, h:mm: a" | uppercase}}</td>
                                <td>{{ listAppointments.typeAppointment }}</td>
                                <td>
                                    <button class="btn btn-primary mb-1 mt-1 btn-sm btnTable"
                                        (click)="onAttendPet(listAppointments.id, listAppointments.name)">
                                        <li class="material-icons">thumb_up</li>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger mb-1 mt-1 btn-sm btnTable"
                                        (click)="onAssentAppointment(listAppointments.id, listAppointments.name, listAppointments.dateA)">
                                        <li class="material-icons">thumb_down</li>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="shadow mt-2" id="divAttendPet" hidden>
            <div class="mt-2">
                <ng-container *ngIf="appointmentAttend">
                    <h2 class="text-center">Paciente Atendiendo {{petAttend.name}}</h2>
                    <hr />
                    <form #formAttendAppointment="ngForm" (submit)="onAttendAppointment()">
                        <div class="form-row">
                            <!-- <ng-container *ngFor="let pet of petAttend"> -->
                                <div class="w-100 text-center">
                                    <ng-container *ngIf="petAttend.imageUrl; else petNoImage">
                                        <img class="card-text w-25 rounded mt-1" src="{{ url + '/getImagePet/'+ petAttend.imageUrl }}" alt="{{ petAttend.name }}"
                                        title="{{ petAttend.name }}" />
                                    </ng-container>
                                    <ng-template #petNoImage>
                                        <img class="card-img-top" src="../../../assets/photos/petDefault.png"
                                            alt="{{ petAttend.name }}" title="{{ petAttend.name }}">
                                    </ng-template>
                                </div>
                                <div class="form-group col-md-4 mt-2">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" value="{{ petAttend.name }}" disabled>
                                </div>
                                <div class="form-group col-md-4 mt-2">
                                    <label>Raza</label>
                                    <input type="text" class="form-control" value="{{ petAttend.race }}" disabled>
                                </div>
                                <div class="form-group col-md-4 mt-2">
                                    <label>Especie</label>
                                    <input type="text" class="form-control" value="{{ petAttend.species }}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Fecha de Nacimiento</label>
                                    <input type="text" class="form-control" value="{{ petAttend.date_born | date: 'dd-MM-yyyy' }}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Genero</label>
                                    <input type="text" class="form-control" value="{{ petAttend.gender }}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Vacunado</label>
                                    <input type="text" class="form-control" value="{{ petAttend.vaccinesO }}" maxlength="2">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Vacunas</label>
                                    <input type="text" class="form-control" value="{{ petAttend.vaccines }}">
                                </div>
                            <!-- </ng-container> -->
                            <!-- <ng-container *ngFor="let appointmentAttend of appointmentAttend"> -->
                                <div class="form-group col-md-4">
                                    <label>Fecha de la cita</label>
                                    <input type="date" class="form-control" ng-model="appointmentAttend.dateA"
                                        value="{{ appointmentAttend.dateA | date: 'yyyy-MM-dd' }}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Tipo de cita</label>
                                    <input type="text" class="form-control" value="{{ appointmentAttend.typeAppointment }}"
                                        disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Observaciones</label>
                                    <input type="text" class="form-control" placeholder="bla bla bla" disabled>
                                </div>
                            <!-- </ng-container> -->
                            <div class="form-group col-md-4">
                                <label>Resultado</label>
                                <textarea class="form-control" name="result" cols="30" rows="2" #result="ngModel"
                                    [(ngModel)]="appointmentInAttend.result" required></textarea>
                                <div class="list-group-item-danger text-center">
                                    <small *ngIf="result.invalid && result.touched">
                                        ¡No has escrito el resultado!
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Medicado</label>
                                <select name="medicated" class="form-control" #medicated="ngModel"
                                    [(ngModel)]="appointmentInAttend.medicated" required>
                                    <option selected="true" disabled="disabled">Elija una opción</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                                <div class="list-group-item-danger text-center">
                                    <small *ngIf="medicated.invalid && medicated.touched">
                                        ¡No has seleccionado si esta medicado!
                                    </small>
                                </div>
                            </div>
                            <ng-container *ngIf="appointmentInAttend.medicated === 'Si'">
                                <div class="form-group col-md-4">
                                    <label>Descripción Medicamento</label>
                                    <textarea name="descriptionM" class="form-control" #descriptionM="ngModel"
                                        [(ngModel)]="appointmentInAttend.descriptionM" cols="30" rows="2"
                                        required></textarea>
                                    <div class="list-group-item-danger text-center">
                                        <small *ngIf="descriptionM.invalid && descriptionM.touched">
                                            ¡No has seleccionado tu mascota!
                                        </small>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="form-group col-md-4">
                                <label>Tratamiento</label>
                                <select name="treatment" class="form-control" #treatment="ngModel"
                                    [(ngModel)]="appointmentInAttend.treatment" required>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                                <div class="list-group-item-danger text-center">
                                    <small *ngIf="treatment.invalid && treatment.touched">
                                        ¡No has seleccionado tu mascota!
                                    </small>
                                </div>
                            </div>
                            <ng-container *ngIf="appointmentInAttend.treatment === 'Si'">
                                <div class="form-group col-md-4">
                                    <label>Descripción tratamiento</label>
                                    <textarea class="form-control" name="descriptionTreatment"
                                        #descriptionTreatment="ngModel"
                                        [(ngModel)]="appointmentInAttend.descriptionTreatment" cols="30" rows="2"
                                        required></textarea>
                                    <div class="list-group-item-danger text-center">
                                        <small *ngIf="descriptionTreatment.invalid && descriptionTreatment.touched">
                                            ¡No has seleccionado tu mascota!
                                        </small>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="form-group col-md-4">
                                <label>Sugerencía</label>
                                <select name="surgery" class="form-control" #surgery="ngModel"
                                    [(ngModel)]="appointmentInAttend.surgery" required>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                                <div class="list-group-item-danger text-center">
                                    <small *ngIf="surgery.invalid && surgery.touched">
                                        ¡No has seleccionado tu mascota!
                                    </small>
                                </div>
                            </div>
                            <ng-container *ngIf="appointmentInAttend.surgery === 'Si'">
                                <div class="form-group col-md-4">
                                    <label>Tipo de sugerencía</label>
                                    <select name="typeSurgery" class="form-control" #typeSurgery="ngModel"
                                        [(ngModel)]="appointmentInAttend.typeSurgery" required>
                                        <option value="Positiva">Positiva</option>
                                        <option value="Negativa">Negativa</option>
                                        <option value="A mejorar">A mejorar</option>
                                    </select>
                                    <div class="list-group-item-danger text-center">
                                        <small *ngIf="typeSurgery.invalid && typeSurgery.touched">
                                            ¡No has seleccionado tu mascota!
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Descripción sugerencía</label>
                                    <textarea class="form-control" name="descriptionS" #descriptionS="ngModel"
                                        [(ngModel)]="appointmentInAttend.descriptionS" cols="30" rows="2"
                                        required></textarea>
                                    <div class="list-group-item-danger text-center">
                                        <small *ngIf="descriptionS.invalid && descriptionS.touched">
                                            ¡No has seleccionado tu mascota!
                                        </small>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="content-buttons">
                            <button type="button" class="btn btn-danger mr-1" (click)="closeDivs(6)">
                                <li class="material-icons">cancel</li>
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-success" [disabled]="formAttendAppointment.invalid">
                                <li class="material-icons">send</li>
                                Enviar
                            </button>
                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
        <div id="divSearchPet" hidden>
            <div class="shadow">
                <form #formSearchsPet="ngForm" (submit)="onSearchPet(formSearchsPet.value)" (keyup)="onSearchPet(formSearchsPet.value)">
                    <div class="row">
                        <div class="col-8 align-self-center search">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control input-search" name="namePet" #namePet="ngModel" ngModel
                                    placeholder="Nombre de la mascota">
                                <div class="input-group-append">
                                    <button class="btn btn-dark btn-sm">
                                        <li class="material-icons">search</li>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <ng-container *ngIf="loading; else petLoading">
                    <div class="text-center">
                        <img src="../../../assets/photos/gifLoading.gif">
                    </div>
                </ng-container>
                <ng-template #petLoading>
                    <ng-container *ngIf="foundPets; else noFoundPets">
                        <ng-container *ngFor="let pets of petResultQuery">
                            <div class="card text-center searchPets mb-2 border border-primary">
                                <div class="card-header">
                                    <p class="font-weight-bold">{{ pets.name }}</p>
                                </div>
                                <ng-container *ngIf="pets.imageUrl; else petNoImage">
                                    <img class="card-text w-25 rounded mt-1" src="{{ url + '/getImagePet/'+ pets.imageUrl }}" alt="{{ pets.name }}"
                                    title="{{ pets.name }}" />
                                </ng-container>
                                <ng-template #petNoImage>
                                    <img class="card-img-top" src="../../../assets/photos/petDefault.png"
                                        alt="{{ pets.name }}" title="{{ pets.name }}">
                                </ng-template>

                                <div class="card-body">
                                    <table class="table text-center">
                                        <thead class="bg-dark text-white">
                                            <tr>
                                                <th>Especie</th>
                                                <th>Raza</th>
                                                <th>Genero</th>
                                                <th>Vacunado</th>
                                                <th>Vacunas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ pets.species }}</td>
                                                <td>{{ pets.race }}</td>
                                                <td>{{ pets.gender }}</td>
                                                <td>{{ pets.vaccinesO }}</td>
                                                <td>{{ pets.vaccines }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary" (click)="watchPetAdmin(pets)">Ver</button>
                                </div>
                                <div class="card-footer text-muted">
                                    Veterinaria Dr Vacca
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #noFoundPets>
                        <div class="text-center">
                            <img src="../../../assets/photos/notResults.png" class="mt-2 mb-2 w-50">
                        </div>
                    </ng-template>
                </ng-template>

            </div>
        </div>
    </ng-template>
</div>