.appointment{
  margin-top: 60px;
}
.form-control{
    width: 80%;
    text-align: center;
  }
  .mat-icon-button{
    width: 35% !important;
  }
  .list-group-item-danger{
    width: 80%;
    margin-top: 2px;
  }
  .content-buttons{
    float: right;
  }
  .buttonPets{
    background-color: #fd7e14;
    border-color: #fd7e14;
    color: aliceblue;
  }
  .title{
    border-bottom: 2px solid #007BFE;
  }
  .material-icons{
    font-size: 19px;
    vertical-align: middle;
  }
  .form-row{
    margin-left: 20%;
  }
  .search{
    margin-left: 18%;
  }
  .card-img-top{
    width: 12rem;
    padding: 13px;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  .searchPets{
    width: 98%;
    margin-left: 1% !important;
    display: block;
  }
  textarea{
    overflow-y: scroll;
    resize: none;
  }
  .font-weight-bold{
    font-family: cursive;
  }
  .form-row{
    margin-left: 4.5rem;
  }
  .spinner-border{
    z-index: 1;
  }
  @media(max-width: 600px){
    .table th, .table td{
      padding: 0;
      font-size: 7px;
    }
    .input-search{
      width: 70%;
    }
    .btnTable{
      width: 20px;
      height: 20px;
    }
    .material-icons{
      font-size: 12px;
      margin-left: -2px;
      /* vertical-align: super; */
    }
  }
  @media(min-width:601px) and (max-width: 720px){
    .table th, .table td{
      padding: 0;
      font-size: 13px;
    }
    .btnTable{
      width: 30px;
      height: 30px;
    }
    .material-icons{
      font-size: 13px;
    }
  }
  @media(min-width: 721px) and (max-width: 820px){
    .table th, .table td{
      padding: 0;
      font-size: 13px;
    }
    .btnTable{
      width: 30px;
      height: 30px;
    }
    .material-icons{
      font-size: 13px;
    }
  }