<app-header></app-header>
<div class="container mt-5">
    <div class="mt-5">
        <br />
        <h1 class="text-center">RECUPERAR CONTRASEÑA</h1>
        <hr />
        <div class="shadow p-3">
            <div class="">
                <form>
                    <div class="form-group">
                        <label for="">Correo electrónico</label>
                        <input type="email" class="form-control" placeholder="Ingresa tu correo">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-secondary">
                            Cancelar
                        </button>
                        <button class="btn btn-primary ml-1 icon">
                            Buscar
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>